@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
font-family: 'Baskerville';
src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}
:root{
  --azure:#1797ff;
  --brownish-grey: #606060;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 18px;
}
.contenido{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  min-height: 100vh;
}
.header {
  position: relative;
  height: 114px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}
.HACKER-NEWS{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}
.menu{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.menu > ul > li {
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: auto;
}
.btn-menu {
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: var(--brownish-grey);
}
.btn-menu-ALL{
  padding: 5px 39px;
}

.btn-menu-FAVES{
  padding: 5px 16px;
}
.btn-menu-ALL.btn-menu-active, .btn-menu-FAVES.btn-menu-active{
  border-color: var(--azure);
  color: var(--azure);
}
main.content{
  display: flex;
  max-width: 90%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
main.faves{
  margin-top: 133px;
}
main.content > ul {
  list-style: none;
}

.select-news{
  display: block;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
  margin-top: 63px;
  margin-bottom: 38px;
}
.Text {
  width: 11.438rem;
  height: 1.375rem;
  margin: 0 1.187rem 0 0;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #343434;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
}
.card{
  cursor: pointer;
  display: inline-block;
  width: 100%;
  min-width: 337px;
  min-height: 90px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 68px;
  transition: all .2s ease-in-out;
}
.card:hover{
  opacity: 0.5;
}
.bodyCard {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}
.date{
  display: flex;  
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}
.date > img{
  margin-right: 5px;
}
.date > span {
  font-size: 11px;
}
.story_title{
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}
.likeCard{
  position: relative;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  background-color: #f5f5f5;
}
.likeCard > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width:1100px) {
  .HACKER-NEWS{
      position: initial;
      transform: initial;
      width: 1140px;
      margin: auto;
      padding-top: 44px;
  }
  main.content{
      width: 1140px;
  }
  .select-news{
      width: 240px;
  }
  .card{
      max-width: 48%;
  }
}